<p style="line-height: 1.3;">
    My name is Wei Peow. A little about myself: 
    <br>
    <br>
    I'm from the greatest island in Malaysia - Penang. We have Char Koay Tiau, very good food. 
    <br>
    I love anything that relates to IT, electronics, automotive, lots of stuffs and unfortunately I'm not an expert in any of those. 
    <br>
    However I'm pretty good at banging myself on the wall, break stuffs and fix stuffs, surviving impossible missions. 
    <br>
    My adaptability and capability overcome stuffs like this pretty well I would say
    <br>
    Basically I'm a rare item- (slaps myself: he's joking don't listen to him sorry)
    <br>
    <br>
    I like to drive and travel around, be it road trips or flight trips, or going to places... (PS: lmk if you have such a job!!!)
    <br>
    I have asked around. My peers don't like going around :D
    <br>
    <br>
    My boss once throw the task of migrating an undocumented mail server to a new copy, to my face
    <br>
    I singlehandedly done it, proper and no cheap out on security!
    <br>
    And tell you what, he also throw the task of setting up customer production infra to me
    <br>
    From server assembly to configuration to rack installation to maintenance, head to toe
    <br>
    I.... still singlehandedly done it, extra extra proper and security!!!
    <br>
    Unfortunately, that's what happens when you throw stuffs at me. I'm so proud of myself, LOL!!!
    <br>
    <br>
    I do things the right way, no shortcuts, and tons of sanity checks (which, yes, could be my OCD actually...)
    <br>
    And by the way, OSPF - Open Shortest Path First. If you get my joke. (Hint: some people prefer OSPF-way)
    <br>
    <br>
    Finally, if you're an employer, I'm happy to walk you through: 
    <br>
    Head over to "Links" page for a copy of my resume and curriculum vitale. 
    <br>
    <br>
    If you're a visitor, ... well, noot noot-!!! Welcome!
    <!-- If you're looking for an experimental guy, you came to the right place. 
    <br>
    <br>
    Over the past few years, I have been experimenting throughout my life. 
    <br>
    I have made good decisions, bad decisions, taking advices, ignoring advices. 
    <br>
    Like anyone else on this planet, I'm not a perfect human being. 
    <br>
    But thanks to my current employment, I have demonstrated my outstanding ability
    <br>
    Particularly my high adaptability and universality in performing tasks in an adhoc manner
    <br>
    Performing on job beyond knowledge, experience, and designated scope. 
    <br>
    <br>
    It doesn't matter if I don't have the knowledge - I'll learn it
    <br>
    Doesn't matter if I don't have the experience - well if, you don't have the right guy, doesn't harm to try someone that might be capable of. 
    <br>
    Just... don't make me sit in the office all the time please. (please...)
    <br>
    <br>
    For starters, I can do a lot of things, which you can see from my CV. 
    <br>
    Programming, Software, Hardware, Electronics, Automotive, anything. 
    <br>
    You hardly find someone like me. I hope I'm not exgarrating, I'm just trying to broadcast my selling point :D
    <br>
    And I'm definitely not bragging (yes i am) about myself as a good bang-head-to-learn guy. 
    <br>
    Throw something foreign and I will still process it. Just takes plenty of head bangs, you know. 
    <br>
    <br>
    I really liked going around. Whether it is to project site, or procurement, or fire-fighting
    <br>
    It boils down to me being <strike>hyperactive</strike> someone that likes being on the move
    <br>
    Compared to working at the very same place everyday
    <br>
    Frequent road trips, flight trips, or just getting around places, are more preferrable to me. 
    <br>
    So if you have any job openings like this, I did very much want to know more about it! -->
</p>