<br>
<small><i>i am lacking ideas how to design this page and i apologize for the lack of proper design. </i></small>
<br>
<small>*click on the <button title="Button" onclick="this.appendChild(document.createElement('button'));console.log('that is not a bug');">Button</button> to visit the links. </small>
<!-- <div>
    WOW. 
</div>
<small><i>(the sun, rise up from the 西边!)</i></small> -->
<br>
<br>
<div id="links-container">
    <section class="links-section">
        <div class="links-section-head">
            <button title="resume" onclick="window.open('assets/documents/resume/latest.pdf', '_blank');">Resume</button>
            <input class="links-section-head-url" type="text" readonly onclick="this.select()" value="https://neko.casa/assets/documents/resume/latest.pdf" />
        </div>
        <p>
            Digital copy of my resume.  
        </p>
    </section>
    <section class="links-section" disabled>
        <div class="links-section-head">
            <button title="curriculum-vitae" onclick="window.open('assets/documents/cv/latest.pdf', '_blank');">CV</button>
            <input class="links-section-head-url" type="text" readonly onclick="this.select()" value="https://neko.casa/assets/documents/cv/latest.pdf" />
        </div>
        <p>
            My personal github profile. Mainly consists of forks. 
        </p>
    </section>
    <section class="links-section">
        <div class="links-section-head">
            <button title="github" onclick="window.open('https://github.com/leewp14', '_blank');">GitHub</button>
            <input class="links-section-head-url" type="text" readonly onclick="this.select()" value="https://github.com/leewp14" />
        </div>
        <p>
            Personal github profile. Mostly consist of forks. 
        </p>
    </section>
    <section class="links-section">
        <div class="links-section-head">
            <button title="github" onclick="window.open('https://github.com/hikuii', '_blank');">GitHub</button>
            <input class="links-section-head-url" type="text" readonly onclick="this.select()" value="https://github.com/hikuii" />
        </div>
        <p>
            Android OS development project. Source code repository for my works posted on xda-dev. 
        </p>
    </section>
</div>